{% from 'macros.html' import head %}
<html>
  {{ head('.', 'city-routes API') }}
  <body>


<script>
$(function() {
  console.log("Ready!");

/*
  $.ajax({
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    },
    url: "/viewparams",
    type: "GET"
  }).then(function(data, status, xhr) {
      viewParams = data;
      console.log("Using viewParams:", viewParams);
      console.log(data);
      createGUI(viewParams);
  });
*/

});
</script>

  </body>
</html>
